.homeAlign {
    text-align: left;
}

.homefont {
    font-family: "Capriola", Sans-serif;
    text-align: left;
    margin-left:15px;
}

li {
    padding-top: 10px;
}

.pboy{
    width:200px;
    height: 354px;
}