.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }
.body-pad {
    padding: 20px;
    background-color: #E9F1FA !important;
}

.footer-background {
  background-color: #00ABE4 !important;
}

.header-background {
  background-color: #00ABE4 !important;
}

.societyContainer {
  background-color: #E9F1FA !important;
}

.header {
  left: 0;
  top: 0;
  width: 100%;
  max-width: 100%;
  color: #B03052;
  text-align: center;
  /*background-color: cornsilk;*/
  font-family: "Montserrat", Sans-serif;
}
.borderme {
  border: black solid;
  /*padding: 5px;*/
}
.titleFont {
  font-weight: bolder;
  font-size: xxx-large;
  color: #B03052;
}

.nowrap {
  text-wrap-mode: nowrap;
  padding-top:1%;
}

.menuFont {
  font-weight: bolder !important;
  font-family: "Montserrat-B", Sans-serif !important;
  font-size: x-large !important;
  color: #62615C !important;
}

a, a:visited {
  color: #B03052;
  text-decoration: none;
 }
 .paddingTab {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
 }
a, a:hover {
  color: goldenrod;
}
a, a:active {
  color: #B03052;
  text-decoration: none;
 }
.padding2 {
  padding-top: 2%;
}

.genimg1 {
  width: 249px;
  height: 191px;
}

.genimg2 {
  width: 705px;
  height: 517px;
}
.textFontLarge {
  font-family: "Montserrat", Sans-serif;
font-weight: bolder;
font-size: larger;
}

.schoolimg {
  width: 572px;
  height: 323px;
}

.sHeader {
  font-size: xx-large;
}

.capriolafont {
  /*font-family: "Capriola", Sans-serif;*/
  font-family: "Montserrat-EB", Sans-serif;
}

.leftit {
  text-align: left;
}
.padleft {
  padding-left: 40px;
}

.pad25 {
  padding: 6px;
  font-size: smaller;
}

.elipseit {
  display: block;/* or inline-block */
  text-overflow: ellipsis;

}

.pointit {
  cursor: pointer;
}

.phot {
  box-shadow: 10px 10px 15px gray;
}

.uniform {
  box-shadow: 3px 3px 15px 5px black;
}

.subtitle {
  color: #B03052;
  text-align: start;
  font-size: x-large;
}

.marginzero {
  margin:0px;
}
.paddingTop5 {
  padding-top: 10px;
}

.paddingTop15 {
  padding-top: 15px;
}

.paddingLeft100 {
  padding-left: 100px;
}

.paddingLeft15 {
  padding-left: 15px;
}

.paddingLeft30 {
  padding-left: 30px;
}

.textColorGray {
  color: black;
}

.accordion-odd {
  /*background-color: #B03052 !important;
  color: white !important;*/
}

.accordion-even {
  background-color: white !important;
  color:#B03052 !important;
}
.schoolbg {
  background-repeat: no-repeat;
  background-attachment: fixed; 
  background-size: 100% 100%;
  background-image: url('../../assets/images/school-bg.jpg');
}

.resIg {
  width:100%;
  height:100%;
}
.marginTop15 {
  margin-top: 15px;
}

.fader {
  mask-image:linear-gradient(to bottom, rgba(0, 0, 0, 0) -5%, rgba(0, 0, 0, 0.65) 20%);
}

.lableFoot {
  padding-left: 15px;

}
.valueFoot {
  padding-left: 15px;
}
.iconFoot {
  padding-right: 5px;
  vertical-align: middle;
}

.crimsonColor{
  color: crimson;
}
 .locateme{
  /*font-weight: bold;*/
  text-decoration: underline;
 }

 .content {
  font-family: "Montserrat", Sans-serif;
  text-align: left;
  margin-left:15px;
}

.subHeaders {
  font-family: "Montserrat-B", Sans-serif;
}

.whiteText {
  color: white;
}

.marginLeft15 {
  margin-left:15px;
}

.yatrafont {
  font-family: "Yatra", Sans-serif;
}
.paddingLeft15 {
  padding-left: 30px;
}

.dashimg {
  width: 572px !important;
  height: 323px;
  box-shadow: 10px 10px 5px black;
}

.dashimg-mob {
  width: 250px;
  height: 141px;
  box-shadow: 10px 10px 5px black;
}

