.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    color: white;
    text-align: center;
  }
.body-pad {
    padding: 20px;
    background-color: #E9F1FA !important;
}

.footer-background {
  background-color: #00ABE4 !important;
}

.header-background {
  background-color: #00ABE4 !important;
}

.societyContainer {
  background-color: #E9F1FA !important;
}

.header {
  left: 0;
  top: 0;
  width: 100%;
  max-width: 100%;
  color: #036EA4;
  text-align: center;
  /*background-color: cornsilk;*/
  font-family: "Capriola", Sans-serif;
}
.borderme {
  border: black solid;
  /*padding: 5px;*/
}
.titleFont {
  font-weight: bolder;
  font-size: xxx-large;
}

.nowrap {
  text-wrap-mode: nowrap;
  padding-top:1%;
}

.menuFont {
  font-weight: bolder;
  font-family: "Atma", Sans-serif;
  font-size: x-large;
  color: #62615C;
}

a, a:visited {
  color: #62615C;
  text-decoration: none;
 }
 .paddingTab {
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 15px;
 }
a, a:hover {
  color: goldenrod;
}
a, a:active {
  color: #62615C;
  text-decoration: none;
 }
.padding2 {
  padding-top: 2%;
}

.genimg1 {
  width: 249px;
  height: 191px;
}

.genimg2 {
  width: 705px;
  height: 517px;
}
.textFontLarge {
  font-family: "Capriola", Sans-serif;
font-weight: bolder;
font-size: larger;
}

.schoolimg {
  width: 572px;
  height: 323px;
}

.sHeader {
  font-size: xx-large;
}

.capriolafont {
  font-family: "Capriola", Sans-serif;
}

.leftit {
  text-align: left;
}
.padleft {
  padding-left: 40px;
}

.pad25 {
  padding: 25px;
  font-size: smaller;
}

.elipseit {
  display: block;/* or inline-block */
  text-overflow: ellipsis;

}

.pointit {
  cursor: pointer;
}

.phot {
  box-shadow: 10px 10px 15px gray;
}

.subtitle {
  text-align: start;
  font-size: x-large;
}

.marginzero {
  margin:0px;
}
.paddingTop5 {
  padding-top: 10px;
}

.paddingTop15 {
  padding-top: 15px;
}

.paddingLeft100 {
  padding-left: 100px;
}

.paddingLeft15 {
  padding-left: 15px;
}

.paddingLeft30 {
  padding-left: 30px;
}

.textColorGray {
  color: #62615C;
}

.accordion-odd {
  background-color: #036EA4 !important;
  color: white !important;
}

.accordion-even {
  background-color: white !important;;
  color: #036EA4 !important;;
}



